// 页面样式重置
// @baseFontSize: 75;
//vs code 安装 px to rem 
//设置 ctrl+, 扩展 找到 px to rem config 设置 px per rem 75 
// Maximum number of decimals digits a px or rem can have 4 
//使用alt+z将选中区域的px 转换成 rem
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    border: none;
}

//页面样式
.mobile-container {
    width: 750px;
    min-height: 100vh;
    margin: 0 auto;

    .common-box {
        width: 750px;
    }

    .common-box-1 {
        width: 750px;
        height: 1218px;
        background: url('./img/1.png') no-repeat center;
        background-size: 750px 1218px;
        position: relative;
        padding-top: 820px;

        .logo {
            width: 290px;
            height: 115px;
            position: absolute;
            top: 176px;
            left: 50%;
            transform: translateX(-50%);
        }

        .index-animation {
            width: 750px;
            height: 364px;
            padding: 0 48px;

            .index-ani-tab-list {
                width: 654px;
                height: 260px;
                display: flex;
                justify-content: space-between;

                .index-tab-item {
                    width: 260px;
                    height: 260px;
                    background: url('./img/unactive.png') no-repeat center center;
                    background-size: 224px 224px;
                    color: rgba(255, 255, 255, 0.8);
                    font-size: 19px;
                    text-align: center;
                    line-height: 260px;

                    &.active {
                        background: url('./img/active.png') no-repeat center center;
                        background-size: 224px 224px;
                        font-size: 22px;
                        color: #fff;
                    }
                }

                .index-tab-item:nth-child(2) {
                    background-size: 260px 260px;
                }
            }

            .index-ani-content-list {
                height: 104px;
                overflow: hidden;

                .index-content-item {
                    height: 104px;
                    color: #fff;
                    padding-top: 50px;
                    text-align: center;
                    font-size: 21px;
                    text-shadow: 0 0 10px #29baeb;
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                .index-content-item:nth-child(1) {
                    background: url('./img/arrow.png') no-repeat 100px 0px;
                    background-size: 27px 41px;
                }

                .index-content-item:nth-child(2) {
                    background: url('./img/arrow.png') no-repeat center 0px;
                    background-size: 27px 41px;
                }

                .index-content-item:nth-child(3) {
                    background: url('./img/arrow.png') no-repeat 520px 0px;
                    background-size: 27px 41px;
                }
            }
        }
    }

    .common-box-2 {
        width: 750px;
        height: 686px;
        background: url('./img/2.png') no-repeat center;
        background-size: 750px 686px;
        margin-top: -1px;

        .tabs-title-list {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 540px;
            height: 97px;
            padding-top: 57px;

            .tit-item {
                width: 233px;
                height: 40px;
                background: url('./img/time0.png') no-repeat;
                background-size: 233px 40px;
                font-size: 22px;
                font-weight: bold;
                color: #867984;
                text-align: center;
                line-height: 40px;
                cursor: pointer;

                &.active {
                    background: url('./img/time1.png') no-repeat;
                    background-size: 233px 40px;
                    color: #ffdebf;
                }
            }
        }

        .tabs-content-list {
            width: 650px;
            margin: 0 auto;

            .item-list-left {
                color: #867984;
                display: inline-block;
                vertical-align: top;
                font-size: 0;
                width: 320px;
                padding-top: 20px;
                background: url('./img/line0.png') no-repeat;
                background-position: 15px 82px;
                background-size: 1px 288px;

                .item-it {
                    line-height: 30px;
                    margin-top: 27px;
                    padding-left: 60px;
                    background: url('./img/icon3.png') no-repeat left center;
                    background-size: 30px 30px;
                    cursor: pointer;

                    &.active {
                        background: url('./img/icon1.png') no-repeat !important;
                        background-size: 60px 47px !important;
                        background-position: -18px -11px !important;

                        .item-title {
                            background: url('./img/active_bottom.png') no-repeat center bottom;
                            background-size: 105px 1px;
                        }
                    }

                    .item-time {
                        font-size: 16px;
                        margin-right: 34px;
                    }

                    .item-title {
                        font-size: 21px;
                        font-weight: bold;
                    }

                    .item-content {
                        display: none;
                    }
                }

                &.active {
                    color: #ffdebf;
                    background: url('./img/line1.png') no-repeat;
                    background-position: 15px 82px;
                    background-size: 1px 288px;

                    .item-it {
                        background: url('./img/icon.png') no-repeat left center;
                        background-size: 30px 30px;
                    }
                }
            }
        }

        .show-detail-content {
            width: 594px;
            height: 65px;
            background: #040327;
            box-shadow: 0 0 15px #f2cbab;
            margin: 30px auto 0px;
            font-size: 20px;
            color: #b28369;
            text-align: center;
            line-height: 65px;
        }
    }

    .common-box-3 {
        width: 750px;
        height: 234px;
        background: url('./img/3.png') no-repeat center;
        background-size: 750px 234px;
        margin-top: -1px;
        padding-top: 80px;

        .kzzx-title {
            width: 390px;
            height: 90px;
            background: url('./img/tit1.png') no-repeat center;
            background-size: 390px 90px;
            margin: 0 auto;
        }

        .kzzx-tabs-list {
            width: 649px;
            height: 40px;
            margin: 0 auto;
            margin-top: 50px;
            display: flex;

            .kzzx-tab-item {
                width: 222px;
                height: 40px;
                background: url('./img/tab0.png') no-repeat center;
                background-size: 222px 40px;
                text-align: center;
                color: #fff;
                font-size: 21px;
                font-weight: bold;
                line-height: 40px;
                cursor: pointer;

                &.active {
                    background: url('./img/tab1.png') no-repeat center;
                    background-size: 222px 40px;
                    color: #000235;
                }
            }
        }

        .kzzx-content-list {
            margin-top: 44px;
            width: 750px;
            height: 720px;
            overflow: hidden;

            .kzzx-content-item {
                width: 750px;
                height: 720px;
                overflow: hidden;
                display: none;

                &.active {
                    display: block;
                }

                .img-box {
                    width: 649px;
                    height: 455px;
                    position: relative;
                    margin: 0 auto;

                    .img-item {
                        width: 608px;
                        height: 397px;
                        margin: 0 auto;
                        position: relative;
                        z-index: 1;
                        display: block;
                    }

                    .img-text {
                        width: 608px;
                        height: 421px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background: #000;
                        padding-top: 362px;

                        .txt-item {
                            width: 608px;
                            height: 59px;
                            line-height: 59px;
                            white-space: nowrap;
                            color: #c4babf;
                            font-size: 24px;
                            overflow: hidden;
                            text-indent: 50px;
                        }
                    }
                }

                .text-box {
                    overflow: hidden;
                    height: 222px;
                    margin-top: 43px;
                    width: 649px;
                    margin: 0 auto;
                    padding: 10px 0;

                    .text-left {
                        width: 324px;
                        height: 222px;
                        float: left;
                        padding: 0px 14px;
                        border-right: 1px solid #eaad94;
                    }

                    .text-right {
                        width: 324px;
                        height: 222px;
                        float: right;
                        padding: 0px 14px;
                    }

                    .text-title {
                        font-size: 18px;
                        line-height: 32px;
                        color: #d39d72;
                    }

                    .text-desc {
                        color: #8d808c;
                        font-size: 12px;
                        line-height: 20px;
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    .common-box-4 {
        width: 750px;
        height: 802px;
        background: url('./img/4.png') no-repeat center;
        background-size: 750px 802px;
        margin-top: -2px;
    }

    .common-box-5 {
        width: 750px;
        height: 625px;
        background: url('./img/5.png') no-repeat center;
        background-size: 750px 625px;
        margin-top: -1px;

        .kzzb-title {
            width: 390px;
            height: 90px;
            background: url('./img/tit2.png') no-repeat center;
            background-size: 390px 90px;
            margin: 0 auto;
        }

        .kzzb-status {
            width: 444px;
            height: 30px;
            line-height: 30px;
            margin: 0 auto;
            color: #e4b393;
            font-size: 16px;
            text-indent: 160px;
            margin-top: 30px;
            font-weight: bold;
        }

        .kzzb-tabs-list {
            width: 444px;
            height: 40px;
            display: flex;
            margin: 0 auto;

            .kzzb-tab-item {
                width: 222px;
                height: 40px;
                background: url('./img/tab0.png') no-repeat center;
                background-size: 222px 40px;
                text-align: center;
                color: #fff;
                font-size: 21px;
                font-weight: bold;
                line-height: 40px;
                cursor: pointer;

                &.active {
                    background: url('./img/tab1.png') no-repeat center;
                    background-size: 222px 40px;
                    color: #000235;
                }
            }
        }

        .kzzb-content-list {
            width: 653px;
            height: 415px;
            background: #000;
            margin: 0 auto;
            margin-top: 56px;
            overflow: hidden;

            .kzzb-content-item {
                width: 653px;
                height: 415px;
                background: #000;

                .design-video {
                    width: 653px;
                    height: 415px;
                }
            }
        }
    }

    .common-box-6 {
        width: 750px;
        height: 726px;
        background: url('./img/6.png') no-repeat center;
        background-size: 750px 726px;
        margin-top: -2px;
        padding-top: 130px;

        .hdjj-title {
            width: 390px;
            height: 90px;
            background: url('./img/tit3.png') no-repeat center;
            background-size: 390px 90px;
            margin: 0 auto;
            margin-bottom: 50px;
        }

        .swiper-container {
            width: 750px;
            height: 490px;

            .swiper-wrapper {
                width: 750px;
                height: 381px;
            }

            .swiper-slide {
                transition: 300ms;
                transform: scale(0.8);
                width: 581px;
                height: 381px;
                overflow: hidden;

                img,
                video {
                    width: 100%;
                }
            }

            .swiper-slide-prev {
                margin-left: 75px;
            }

            .swiper-slide-next {
                margin-left: -75px;
            }

            .swiper-slide-active {
                transform: scale(1);
                z-index: 1;
                margin-left: -75px;
            }

            .swiper-button-prev,
            .swiper-button-next {
                color: #fff;
                top: 40%;
                display: none;
            }

            .swiper-pagination,
            .swiper-pagination-bullets {
                height: 109px;
                bottom: 0px;
                line-height: 109px;

                .swiper-pagination-bullet {
                    background: #919191;
                    opacity: 1;
                    width: 13px;
                    height: 13px;
                    margin: 0 20px;

                    &.swiper-pagination-bullet-active {
                        background: #c9a26b;
                        transform: scale(1.2);
                    }
                }

            }
        }
    }

    .common-box-7 {
        width: 750px;
        height: 760px;
        background: url('./img/7.png') no-repeat center;
        background-size: 750px 760px;
        margin-top: -1;

        .cwjlb-title {
            width: 750px;
            height: 176px;
            background: url('./img/tit4.png') no-repeat center;
            background-size: 750px 176px;
            margin: 0 auto;
        }

        .cwjlb-tabs-list {
            width: 649px;
            height: 40px;
            margin: 0 auto;
            display: flex;
            margin-top: 30px;
            margin-bottom: 68px;

            .cwjlb-tab-item {
                width: 222px;
                height: 40px;
                background: url('./img/tab0.png') no-repeat center;
                background-size: 222px 40px;
                text-align: center;
                color: #fff;
                font-size: 21px;
                font-weight: bold;
                line-height: 40px;
                cursor: pointer;

                &.active {
                    background: url('./img/tab1.png') no-repeat center;
                    background-size: 222px 40px;
                    color: #000235;
                }
            }
        }

        .cwjlb-content-list {
            width: 390px;
            height: 424px;
            overflow: hidden;
            margin: 0 auto;

            .cwjlb-content-item {
                width: 390px;
                height: 424px;
                overflow: hidden;
                display: none;

                &.active {
                    display: block;
                }

                img {
                    width: 390px;
                    height: 424px;
                }
            }
        }

        .cwjlb-bottom {
            width: 750px;
            height: 35px;
            margin: 0 auto;

            img {
                width: 750px;
                height: 35px;
            }
        }
    }

    .common-box-8 {
        width: 750px;
        height: 770px;
        background: url('./img/8.png') no-repeat center;
        background-size: 750px 770px;
        margin-top: -1px;
    }
}