* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
img {
  border: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
img {
  border: none;
}
.mobile-container {
  width: 10rem;
  min-height: 100vh;
}
.mobile-container .common-box {
  width: 10rem;
}
.mobile-container .common-box-1 {
  width: 10rem;
  height: 16.24rem;
  background: url('img/1.png') no-repeat center;
  background-size: 10rem 16.24rem;
  position: relative;
}
.mobile-container .common-box-1 .logo {
  width: 3.8667rem;
  height: 1.5333rem;
  position: absolute;
  top: 2.3467rem;
  left: 50%;
  transform: translateX(-50%);
}
.mobile-container .common-box-2 {
  width: 10rem;
  height: 9.1467rem;
  background: url('img/2.png') no-repeat center;
  background-size: 10rem 9.1467rem;
  margin-top: -0.0133rem;
}
.mobile-container .common-box-2 .tabs-title-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 7.2rem;
  height: 1.2933rem;
  padding-top: 0.76rem;
}
.mobile-container .common-box-2 .tabs-title-list .tit-item {
  width: 3.1067rem;
  height: 0.5333rem;
  background: url('img/time0.png') no-repeat;
  background-size: 3.1067rem 0.5333rem;
  font-size: 0.2933rem;
  font-weight: bold;
  color: #867984;
  text-align: center;
  line-height: 0.5333rem;
}
.mobile-container .common-box-2 .tabs-title-list .tit-item.active {
  background: url('img/time1.png') no-repeat;
  background-size: 3.1067rem 0.5333rem;
  color: #ffdebf;
}
.mobile-container .common-box-2 .tabs-content-list {
  width: 8.6667rem;
  margin: 0 auto;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left {
  color: #867984;
  display: inline-block;
  font-size: 0;
  width: 4.2667rem;
  padding-top: 0.6667rem;
  background: url('img/line0.png') no-repeat;
  background-position: 0.2rem 1.4933rem;
  background-size: 0.0133rem 3.84rem;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left .item-it {
  line-height: 0.4rem;
  margin-top: 0.36rem;
  padding-left: 0.8rem;
  background: url('img/icon3.png') no-repeat left center;
  background-size: 0.4rem 0.4rem;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left .item-it .item-time {
  font-size: 0.2133rem;
  margin-right: 0.4533rem;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left .item-it .item-title {
  font-size: 0.28rem;
  font-weight: bold;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left.active {
  color: #ffdebf;
  background: url('img/line1.png') no-repeat;
  background-position: 0.2rem 1.4933rem;
  background-size: 0.0133rem 3.84rem;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left.active .item-it {
  background: url('img/icon3.png') no-repeat left center;
  background-size: 0.4rem 0.4rem;
}
.mobile-container .common-box-3 {
  width: 10rem;
  height: 3.12rem;
  background: url('img/3.png') no-repeat center;
  background-size: 10rem 3.12rem;
  margin-top: -0.0133rem;
  padding-top: 1.0667rem;
}
.mobile-container .common-box-3 .kzzx-title {
  width: 5.2rem;
  height: 1.2rem;
  background: url('img/tit1.png') no-repeat center;
  background-size: 5.2rem 1.2rem;
  margin: 0 auto;
}
.mobile-container .common-box-3 .kzzx-tabs-list {
  width: 8.6533rem;
  height: 0.5333rem;
  margin: 0 auto;
  display: flex;
}
.mobile-container .common-box-3 .kzzx-tabs-list .kzzx-tab-item {
  width: 2.96rem;
  height: 0.5333rem;
  background: url('img/tab0.png') no-repeat center;
  background-size: 2.96rem 0.5333rem;
  text-align: center;
  color: #fff;
  font-size: 0.28rem;
  font-weight: bold;
  line-height: 0.5333rem;
}
.mobile-container .common-box-3 .kzzx-tabs-list .kzzx-tab-item.active {
  background: url('img/tab1.png') no-repeat center;
  background-size: 2.96rem 0.5333rem;
  color: #000235;
}
.mobile-container .common-box-3 .kzzx-content-list .kzzx-content-item .img-box {
  width: 8.6533rem;
  height: 6.0667rem;
  position: relative;
  margin: 0 auto;
}
.mobile-container .common-box-3 .kzzx-content-list .kzzx-content-item .img-box .img-item {
  width: 8.1067rem;
  height: 5.2933rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.mobile-container .common-box-3 .kzzx-content-list .kzzx-content-item .img-box .img-text {
  width: 8.1067rem;
  height: 5.6133rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
}
.mobile-container .common-box-4 {
  width: 10rem;
  height: 10.6933rem;
  background: url('img/4.png') no-repeat center;
  background-size: 10rem 10.6933rem;
  margin-top: -0.0267rem;
}
.mobile-container .common-box-5 {
  width: 10rem;
  height: 8.3333rem;
  background: url('img/5.png') no-repeat center;
  background-size: 10rem 8.3333rem;
  margin-top: -0.0133rem;
}
.mobile-container .common-box-6 {
  width: 10rem;
  height: 9.68rem;
  background: url('img/6.png') no-repeat center;
  background-size: 10rem 9.68rem;
  margin-top: -0.0267rem;
}
.mobile-container .common-box-7 {
  width: 10rem;
  height: 10.1333rem;
  background: url('img/7.png') no-repeat center;
  background-size: 10rem 10.1333rem;
  margin-top: -1;
}
.mobile-container .common-box-8 {
  width: 10rem;
  height: 10.2667rem;
  background: url('img/8.png') no-repeat center;
  background-size: 10rem 10.2667rem;
  margin-top: -0.0133rem;
}
