* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
img {
  border: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
img {
  border: none;
}
.mobile-container {
  width: 750px;
  min-height: 100vh;
}
.mobile-container .common-box {
  width: 750px;
}
.mobile-container .common-box-1 {
  width: 750px;
  height: 1218px;
  background: url('img/1.png') no-repeat center;
  background-size: 750px 1218px;
  position: relative;
}
.mobile-container .common-box-1 .logo {
  width: 290px;
  height: 115px;
  position: absolute;
  top: 176px;
  left: 50%;
  transform: translateX(-50%);
}
.mobile-container .common-box-2 {
  width: 750px;
  height: 686px;
  background: url('img/2.png') no-repeat center;
  background-size: 750px 686px;
  margin-top: -1px;
}
.mobile-container .common-box-2 .tabs-title-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 540px;
  height: 97px;
  padding-top: 57px;
}
.mobile-container .common-box-2 .tabs-title-list .tit-item {
  width: 233px;
  height: 40px;
  background: url('img/time0.png') no-repeat;
  background-size: 233px 40px;
  font-size: 22px;
  font-weight: bold;
  color: #867984;
  text-align: center;
  line-height: 40px;
}
.mobile-container .common-box-2 .tabs-title-list .tit-item.active {
  background: url('img/time1.png') no-repeat;
  background-size: 233px 40px;
  color: #ffdebf;
}
.mobile-container .common-box-2 .tabs-content-list {
  width: 650px;
  margin: 0 auto;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left {
  color: #867984;
  display: inline-block;
  font-size: 0;
  width: 320px;
  padding-top: 50px;
  background: url('img/line0.png') no-repeat;
  background-position: 15px 112px;
  background-size: 1px 288px;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left .item-it {
  line-height: 30px;
  margin-top: 27px;
  padding-left: 60px;
  background: url('img/icon3.png') no-repeat left center;
  background-size: 30px 30px;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left .item-it .item-time {
  font-size: 16px;
  margin-right: 34px;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left .item-it .item-title {
  font-size: 21px;
  font-weight: bold;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left.active {
  color: #ffdebf;
  background: url('img/line1.png') no-repeat;
  background-position: 15px 112px;
  background-size: 1px 288px;
}
.mobile-container .common-box-2 .tabs-content-list .item-list-left.active .item-it {
  background: url('img/icon3.png') no-repeat left center;
  background-size: 30px 30px;
}
.mobile-container .common-box-3 {
  width: 750px;
  height: 234px;
  background: url('img/3.png') no-repeat center;
  background-size: 750px 234px;
  margin-top: -1px;
  padding-top: 80px;
}
.mobile-container .common-box-3 .kzzx-title {
  width: 390px;
  height: 90px;
  background: url('img/tit1.png') no-repeat center;
  background-size: 390px 90px;
  margin: 0 auto;
}
.mobile-container .common-box-3 .kzzx-tabs-list {
  width: 649px;
  height: 40px;
  margin: 0 auto;
  display: flex;
}
.mobile-container .common-box-3 .kzzx-tabs-list .kzzx-tab-item {
  width: 222px;
  height: 40px;
  background: url('img/tab0.png') no-repeat center;
  background-size: 222px 40px;
  text-align: center;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  line-height: 40px;
}
.mobile-container .common-box-3 .kzzx-tabs-list .kzzx-tab-item.active {
  background: url('img/tab1.png') no-repeat center;
  background-size: 222px 40px;
  color: #000235;
}
.mobile-container .common-box-3 .kzzx-content-list {
  margin-top: 44px;
}
.mobile-container .common-box-3 .kzzx-content-list .kzzx-content-item .img-box {
  width: 649px;
  height: 455px;
  position: relative;
  margin: 0 auto;
}
.mobile-container .common-box-3 .kzzx-content-list .kzzx-content-item .img-box .img-item {
  width: 608px;
  height: 397px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: block;
}
.mobile-container .common-box-3 .kzzx-content-list .kzzx-content-item .img-box .img-text {
  width: 608px;
  height: 421px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  padding-top: 362px;
}
.mobile-container .common-box-3 .kzzx-content-list .kzzx-content-item .img-box .img-text .txt-item {
  width: 608px;
  height: 59px;
  line-height: 59px;
  white-space: nowrap;
  color: #c4babf;
  font-size: 24px;
  overflow: hidden;
  text-indent: 50px;
}
.mobile-container .common-box-4 {
  width: 750px;
  height: 802px;
  background: url('img/4.png') no-repeat center;
  background-size: 750px 802px;
  margin-top: -2px;
}
.mobile-container .common-box-5 {
  width: 750px;
  height: 625px;
  background: url('img/5.png') no-repeat center;
  background-size: 750px 625px;
  margin-top: -1px;
}
.mobile-container .common-box-6 {
  width: 750px;
  height: 726px;
  background: url('img/6.png') no-repeat center;
  background-size: 750px 726px;
  margin-top: -2px;
}
.mobile-container .common-box-7 {
  width: 750px;
  height: 760px;
  background: url('img/7.png') no-repeat center;
  background-size: 750px 760px;
  margin-top: -1;
}
.mobile-container .common-box-8 {
  width: 750px;
  height: 770px;
  background: url('img/8.png') no-repeat center;
  background-size: 750px 770px;
  margin-top: -1px;
}
